include RELEASE-VERSION
include LICENSE
include version.py
include setup.py
include paver-minilib.zip
recursive-include microdrop_device_converter *
recursive-exclude microdrop_device_converter *.pyc
recursive-exclude microdrop_device_converter *~
